.instagramInboxPreviewer {
  background-color: rgb(var(--ig-primary-background));
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
  word-wrap: break-word;
  white-space: normal;
}

.instagramInboxPreviewer__logo {
  width: 50px;
  height: 50px;
  padding: 10px;
  pointer-events: none;
  background-color: rgb(var(--ig-primary-text));
  opacity: 0.9;
  mask: url(logo.svg) no-repeat center;
  mask-size: 50px;
}

.instagramInboxPreviewer__logo--loading {
  animation: searchingRotation 0.5s linear infinite;
}

@keyframes searchingRotation {
  from {
    transform: rotate(0deg) translateX(2px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(2px) rotate(-360deg);
  }
}

.instagramInboxPreviewer__content {
  overflow-y: scroll;
  padding: 10px 20px;
  height: 100%;
  font-size: var(--system-14-font-size);
  font-weight: var(--font-weight-system-regular);
  line-height: var(--system-14-line-height);
  color: rgb(var(--ig-primary-text));
}

.instagramInboxPreviewerThread {
  text-align: left;
  width: 100%;
  padding: 0;
}

.instagramInboxPreviewerThread__title {
  font-weight: var(--font-weight-system-semibold);
  margin-bottom: 4px;
}

.instagramInboxPreviewerItem {
  border: 1px solid rgb(var(--ig-highlight-background));
  border-radius: 22px;
  box-sizing: border-box;
  min-height: 44px;
  overflow: hidden;
  padding: 16px;
  margin-bottom: 8px;
}

.instagramInboxPreviewerItem--unknown {
  color: rgb(var(--ig-error-or-destructive));
}
